
<span title="<%= @topic.description %>">
  Topic: <%= link_to @topic.title, navigate_path(@topic) %>
</span>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<br />
<br />
<b>Contents:</b><br />

<table>
  <tr>
    <th> </th>
    <th>Position</th>
    <th>Icon</th>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td>
      <div title="move up">
        <%= link_to(image_tag('up.png'), up_path(content)) if content.position > 1 %>
      </div>
      <div style="float:left;" title="move down">
        <%= link_to(image_tag('down.png'), down_path(content)) if content.lower_item %>
      </div>
    </td>
    <td><%= content.position %></td>
    <td><%= image_tag(default_icon(content.icon,'dot.png'), :height => '30', :title => content.icon_credit) %></td>
    <td>
      <span class="medium_text">
        <%= link_to content.title, content %>
      </span>
    </td>
    <td><%= content.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Content', new_content_path(:topic_id => @topic.id) %>
