<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Topic:</b>
  <%= link_to @content.topic.title, contents_path(:topic_id => @content.topic_id) %>
  <br />

  <%= image_tag(default_icon(@content.icon,'dot.png'), :height => '30', :title => @content.icon_credit) %> 

  <b>Content:</b>
  <%= @content.title %>.
  <%= @content.description %>
  [<%= @content.user.name %>]

  <%= link_to 'Edit', edit_content_path(@content) %> |
  <%= link_to 'Back', contents_path(:topic_id => @content.topic_id) %>

</p>


<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :content_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :position %>

  <div class="field">
    <%= f.text_area :body, :rows => 2, :cols => 70 %>
  </div>
  <div class="field">
    <%= f.label :type %>:
    <%= f.select :item_type_id, @item.item_types %>
    <%= f.label :style %>:
    <%= f.text_field :style, :size => 58 %><br />
    <%= f.label :note %>:
    <%= f.text_field :note, :size => 60 %>
    <%= f.label :size %>:
    <%= f.text_field :size, :size => 9 %>
  </div>
  <div class="field">
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
