<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Commentable:</b>
  <%= @comment.commentable_id %>
</p>

<p>
  <b>Commentable type:</b>
  <%= @comment.commentable_type %>
</p>

<p>
  <b>Comment type:</b>
  <%= @comment.comment_type %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
