<div class="grid_16">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <p>
    <b>Topic:</b>
    <%= link_to @screen.topic.title, navigate_path(@screen.topic_id) %>
    <br />
    <span class="smedium_text">
      <%= @screen.title %>
    </span>
    [<%= link_to @screen.user.name, @screen.user %>]
    <%= link_to 'Edit', edit_screen_path(@screen) %>
  </p>
  
</div>
