<div class="grid_16">
  <%= render 'nav_bar' %>
</div>
<div class="clear"></div>

<div class="grid_5">
  <% short_title = truncate(@topic.title, :length => 18, :omission => "*") %>
  <b>Topic Hierarchy:</b><br />
  <%= link_to '=TOP=', topics_path %>
  <br />
  <% @topic.ancestors.each do |topic| %>
    <%= image_tag(default_topic_icon(topic.icon), :height => '40') %>
    <%= link_to topic.title, navigate_path(topic) %>
    <br />
  <% end %>
  <% if @topic.parent %>
     <%= button_to("Move '" + short_title + "' Up a Level", {:action => "update", :id => @topic.id, :up => "1"},
         :confirm => "Are you sure?", :method => :put) %>
  <% end %>

  <hr />
  <b>This level:</b><br />

  <% @topic.siblings.each do |topic| %>
    <% if @topic.id == topic.id %>
      <div style="background-color:Bisque;">
        <%= image_tag(default_topic_icon(topic.icon), :height => '40') %>
        <b><%= link_to topic.title, navigate_path(topic) %></b>
      </div>
    <% else %>
      <%= image_tag(default_topic_icon(topic.icon), :height => '40') %>
      <%= link_to topic.title, navigate_path(topic) %>
    <% end %>
    <br />
  <% end %>

  <% if @topic.has_siblings? %>
    <%= form_for(@topic) do |f| %>
      <div class="field">
        Move <b><%= @topic.title %></b> under (select):<br />
        <%= f.collection_select :parent_id, @topic.siblings, :id, :title %>
      </div>
      <div class="actions">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  <% end %>

</div>
<div class="grid_11">

  <h1>Editing topic</h1>
  
  <%= render 'form' %>
  
  <%= link_to 'Show', @topic %> |
  <%= link_to 'Back', topics_path %> |
  <%= link_to 'Destroy', @topic, :confirm => 'Are you sure?', :method => :delete %>
  
</div>
