<div class="grid_16" style="background-color:white;">
  <%= render 'nav_bar' %>
</div>
<div class="clear"></div>

<div class="grid_4">
  <b>Hierarchy:</b><br />
  <%= link_to '=TOP=', topics_path %>
  <br />
  <% if @topic %>
    <% @topic.ancestors.each do |topic| %>
      <%= image_tag(default_icon(topic.icon), :height => '40') %>
      <%= link_to topic.title, navigate_path(topic) %>
      <br />
    <% end %>
  <% end %>

  <hr />
  <b>Subtopics:</b><br />
  <% if @topic %>
    <% topic_list = @topic.siblings.all(:order => :title) %>
  <% else %>
    <% topic_list = @topics %>
  <% end %>
  <% topic_list.each do |topic| %>
    <% if @topic && @topic.id == topic.id %>
      <div style="background-color:Bisque;">
        <%= image_tag(default_icon(topic.icon), :height => '40') %>
        <b><%= topic.title %></b>
        <% if topic.has_children? %>
          <%= link_to 'subtopics', navigate_path(topic.children.first) %>
        <% end %>
      </div>
    <% else %>
      <%= image_tag(default_icon(topic.icon), :height => '40') %>
      <%= link_to topic.title, navigate_path(topic) %>
    <% end %>
    <br />
  <% end %>

</div>

<div class="grid_12">

  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <% if @topic %>
    <span style="padding:5px;" title="<%= @topic.icon_credit %>">
      <%= image_tag(default_icon(@topic.icon), :height => '75') %>
    </span>
    <span class="big_text">
      <%= @topic.title %>
    </span>
    <span class="smedium_text" title="<%= @topic.description %>">
      <%= link_to 'Edit', edit_topic_path(@topic) %>
      <%= link_to 'Contents', contents_path(:topic_id => @topic.id) %>[<%= @topic.contents.count %>]
    </span>
    <br />Description:<%= @topic.description %>
  
  <% else %>
    <span class="big_text">
      =TOP=
    </span>
  <% end %>
  
  <hr />

  <h4>Subtopics:<h4>
  
  <table>
  
  <% @topics.each do |topic| %>
    <tr>
      <td>
        <span style="padding:5px;" title="<%= topic.description %>">
          <%= image_tag(default_icon(topic.icon), :height => '50') %>
        </span>
      </td>
      <td>
        <span class="medium_text" title="<%= topic.description %>">
          <%= link_to topic.title, navigate_path(topic) %>
        </span>
        <span class="smedium_text" title="<%= topic.description %>">
          <%= link_to 'Edit', edit_topic_path(topic) %>
        </span>
      </td>
    </tr>
  <% end %>
  </table>
  
  <% if @topic %>
    <div class="link_button" style="width:120px;">
      <%= link_to 'Add Subtopic', new_topic_path(:parent_id => @topic.id) %>
    </div>
  <% else %>
    <div class="link_button" style="width:186px;">
      <%= link_to 'Add Top Level Topic', new_topic_path %>
    </div>
  <% end %>

</div>
