<% short_title = truncate(@topic.title, :length => 12, :omission => "*") %>
<div class="grid_5">
  <BR />
  <span style="font-size:18px;">
    Grand Parent:<BR />
    <% if @parent %>
      <% if @parent.is_root? %>
        <%= link_to '=TOP=', topics_path %>
      <% else %>
        <%= image_tag(default_topic_icon(@parent.parent.icon), :width => '50') %>
        <%= link_to @parent.parent.title, @parent %>
      <% end %>
    <% end %>
  </span>
</div>
<div class="grid_5">
  <BR />
  <span style="font-size:18px;">
    Parent:<BR />
  </span>
  <% if @parent %>
    <%= image_tag(default_topic_icon(@parent.icon), :width => '50') %>
    <%= link_to @parent.title, @parent %>
  <BR />

    <%= button_to("Move '" + short_title + "' Up To Parent's Level", {:action => "update", :id => @topic.id, :up => "1"},
         :confirm => "Are you sure?", :method => :put) %>
  <% else %>
    <%= link_to '=TOP=', topics_path %>
  <% end %>
</div>
<div class="grid_5">
  <BR />
  <span style="font-size:18px;">
    Topic:
  </span>
  <%= @topic.title %>
  <% if @topic.has_siblings? %>
    <%= form_for(@topic) do |f| %>
      <div class="field">
	Topics at the same level:<BR />
	<%= f.collection_select :parent_id, @topic.siblings, :id, :title %>
      </div>
      <div class="actions">
        <%= f.submit "Move '" + short_title + "' Under" %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="clear"></div>
<div class="grid_16">

<p id="notice"><%= notice %></p>

<p>
  <span title="<%= @topic.icon_credit %>">
    <%= image_tag(default_topic_icon(@topic.icon), :height => '50') %>
  </span>
  <b>Title:</b>
  <%= @topic.title %>
  <span style="padding-left:90px;">
    <b>User:</b>
    <%= @topic.user.name %>
  </span>
  <span style="padding:30px;">
    <b>Ancestry:</b>
    <%= @topic.ancestry %>
  </span>
</p>

<p>
  <b>Description:</b>
  <%= @topic.description %>
</p>

<p>
  <b>Children:</b>
  <BR />
  <% @children.each do |child| %>
    <%= image_tag(default_topic_icon(child.icon), :height => '40') %>
    <%= link_to child.title, child %>
    <BR />
  <% end %>
</p>

<%= link_to "Add Child Topic", new_topic_path(:parent_id => @topic) %> |
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>

</div>
