<div class="grid_16">
  <%= render 'nav_bar' %>

  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  
  <b>Topic:</b><br />
  
  <p>
    <span title="<%= @topic.icon_credit %>">
      <%= image_tag(default_topic_icon(@topic.icon), :height => '75') %>
    </span>
    <b>Title:</b>
    <span class="big_text">
      <%= @topic.title %>
    </span>
    <span style="padding-left:90px;">
      <b>User:</b>
      <%= @topic.user.name %>
    </span>
    <span style="padding:30px;">
      <b>Ancestry:</b>
      <%= @topic.ancestry %>
    </span>
  </p>
  
  <p>
    <b>Description:</b>
    <%= @topic.description %>
  </p>
  
  <p>
    <b>Sub Topics:</b>
    <br />
    <% @children.each do |child| %>
      <%= image_tag(default_topic_icon(child.icon), :height => '40') %>
      <span class="medium_text">
        <%= link_to child.title, child %>
      </span>
      <br />
    <% end %>
  </p>
  
  <div style="font-size:16px;padding:5px;border-style:solid;border-width:1px;font-weight:bold;background-color:Bisque;width:138px;">
  <%= link_to "Add Sub-Topic", new_topic_path(:parent_id => @topic.id), :method => :get %>
  </div>
  <br />
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Back', topics_path %>
  
</div>
