<!-- Copyright 2012 Bryan Lee Jacobson -->
<div class="container_16" style="background-color:white;">
  <div class="grid_14">
<%= notice %>
  </div>
  <div class="clear"></div>
  <div class="grid_14">
  </div>
  User: <%= @user.name %>
  <% if @user == current_user %> 
    | <%= @user.email %>
    | <%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
  | <%= link_to 'Users', users_path %>
  <div class="clear"></div>

  <div class="grid_14">

<br />
<br />
<span style="padding:10px;font-size:24px;"><b>Learning Areas</b></span>
<br />
<br />

<span class="smedium_text">
  <% screen = Screen.find(:first, :conditions => ["id = ?", 24]) %>
  <% if screen %>
    <%= link_to 'Knitting', screen %>
  <% else %>
    Knitting
  <% end %>
  <br />
  <% screen = Screen.find(:first, :conditions => ["id = ?", 46]) %>
  <% if screen %>
    <%= link_to 'Time Management', screen %>
  <% else %>
    Time Management
  <% end %>
</span>

  </div>
</div>
