<div class="container_16" style="background-color:white;">
  <div class="grid_14">
<%= notice %>
  </div>
  <div class="clear"></div>
  <div class="grid_14">
  </div>
  User: <%= @user.name %>
  <% if @user == current_user %> 
    | <%= @user.email %>
    | <%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
  | <%= link_to 'Users', users_path %>
  <div class="clear"></div>

  <div class="grid_14">

<br />
<br />
<span style="padding:10px;font-size:24px;"><b>Learning Areas</b></span>
<br />
<br />

<IMG WIDTH=600 SRC="/images/word_cloud.jpg"></IMG>

  </div>
</div>
