<div class="container_16" style="background-color:white;height:640px;">
  <div class="grid_14">
<%= notice %>
  </div>
  <div class="clear"></div>
  <div class="grid_14">
  </div>
  <%= @user.name %> |
  <%= @user.email %> |
<%= link_to 'Edit', edit_user_path(@user) %> ||
<%= link_to 'Users', users_path %>
  <div class="clear"></div>

  <div class="grid_14">

<BR />
<BR />
<span style="padding:10px;font-size:24px;"><b>Learning Areas</b></span>
<BR />
<BR />

<IMG WIDTH=600 SRC="/images/word_cloud.jpg"></IMG>

  </div>
</div>
