<!-- Copyright 2012 Bryan Lee Jacobson -->

  <div class="grid_9">

<div class="home" style="color:navy;">
  <img src="/images/people-learning-small.jpg"></img>
</div>

<div class="home" style="background-color:Teal;" OnClick="document.location='/topics'">
Welcome to <b>Zeechee</b>, a community where we help each other learn
<b>valuable</b> skills.
</div>


<div class="home" OnClick="document.location='/topics'" style="background-color:Orange;">
<b>Explore</b> <em><%= Topic.all.count %></em> topics
</div>

<div class="home" OnClick="document.location='/topics'" style="font-size:28px;line-height:30px;background-color:Navy;">
<em>Zeechee is in development and is "pre-beta". Your early feedback is
valuable and can be made at
<%= link_to 'Feedback', "http://groups.google.com/group/zeechee", :target => "_blank" %>. Thank you!</em>
</div>

<%= link_to "Terms of Service", home_tos_path %>


  </div>
  <div class="grid_7">

  <% if @user_errors %>
    <% if @user_errors.kind_of?(String) %>
      <%= @user_errors %>
    <% elsif @user_errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@user_errors.count, "error") %></h2>
      <ul>
      <% @user_errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  <% end %>

<% if logged_in? %>

<div class="home" style="width:326px;background-color:Coral;font-size:32px;line-height:32px;" OnClick="document.location='/topics'">

Recent additions include

<% @link_name = "Time Management For Life" %>
<% @link = Topic.find(:first, :conditions => ['id = ?', 38]) %>
<%= render 'recent_link' %>

<% @link_name = "Teach Yourself To Knit" %>
<% @link = Topic.find(:first, :conditions => ['id = ?', 100]) %>
<%= render 'recent_link' %>

<% @link_name = "Javascript" %>
<% @link = Topic.find(:first, :conditions => ['id = ?', 6]) %>
<%= render 'recent_link' %>

<% @link_name = "Find A Great Job" %>
<% @link = Topic.find(:first, :conditions => ['id = ?', 2]) %>
<%= render 'recent_link' %>

<% @link_name = "Meditation" %>
<% @link = Topic.find(:first, :conditions => ['id = ?', 27]) %>
<%= render 'recent_link' %>
and more.
</div>

<% else %>

  <div style="margin:4px;padding:2px;border:2px solid blue;">
  <h3 style="padding:2px;">Login</h3>
  <%= render 'login_user_form' %>
  </div>
  
  <div style="margin:4px;padding:2px;border:2px solid blue;">
  <h3 style="padding:2px;">Register</h3>
  <%= render 'register_user_form' %>
  </div>
  
<% end %>

</div>
