
  <div class="grid_9">

<div class="home" style="color:navy;">
<em>Welcome to <b>LearnShare</b></em>
</div>

<div class="home" style="background-color:Lime;">
<b>Learn</b> things that matter
</div>

<div class="home" style="background-color:Teal;">
<b>Share</b> what <em>you</em> know
</div>

<div class="home" OnClick="document.location='/topics'" style="background-color:Orange;">
<b>Explore</b> <em><%= Topic.all.count %></em> topics
</div>

  </div>
  <div class="grid_7">

  <% if @user_errors %>
    <% if @user_errors.kind_of?(String) %>
      <%= @user_errors %>
    <% elsif @user_errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@user_errors.count, "error") %></h2>
      <ul>
      <% @user_errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  <% end %>

<% if logged_in? %>

  <h3>Topics</h3>

  <%= render :partial => "topics/topic_list" %>

<% else %>

  <div style="margin:4px;padding:2px;border:2px solid blue;">
  <h3 style="padding:2px;">Login</h3>
  <%= render 'login_user_form' %>
  </div>
  
  <div style="margin:4px;padding:2px;border:2px solid blue;">
  <h3 style="padding:2px;">Register</h3>
  <%= render 'register_user_form' %>
  </div>
  
<% end %>

</div>
