<p id="notice"><%= notice %></p>

<p>
  <b>Item type:</b>
  <%= @item.item_type_id %>
</p>

<p>
  <b>Screen:</b>
  <%= @item.screen_id %>
</p>

<p>
  <b>Position:</b>
  <%= @item.position %>
</p>

<p>
  <b>Body:</b>
  <%= @item.body %>
</p>

<p>
  <b>Style:</b>
  <%= @item.style %>
</p>

<p>
  <b>Size:</b>
  <%= @item.size %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
