<!-- Copyright 2012 Bryan Lee Jacobson -->
<!DOCTYPE html>
<html>
<head>
  <title>Zeechee</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="/stylesheets/960/reset.css" />
  <link rel="stylesheet" type="text/css" media="all"
        href="/stylesheets/960/960.css" />
  <link rel="stylesheet" type="text/css" media="all"
        href="/stylesheets/960/text.css" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body style="background-color:black;">
<div class="container_16" style="background-color:white;height:1000px;">


<div class="grid_16">

<%= link_to_unless_current 'Zeechee', root_path %> |
<%= link_to_unless_current 'Topics', topics_path %> |
<%= link_to_unless_current 'Users', users_path %> |
<%= link_to 'Feedback', "http://groups.google.com/group/zeechee", :target => "_blank" %> |

<% if logged_in? %>
  Welcome <%= link_to current_user.name, current_user %> |
  <%= link_to 'Sign Out', logout_path %>
<% else %>
  <%=  link_to_unless_current 'Login or Register', root_path %>
<% end %>
| 
<% if session[:edit_mode] == true %>
  <%= link_to 'Learn', learn_mode_path %> Edit
<% else %>
  Learn <%= link_to 'Edit', edit_mode_path %>
<% end %>
</div>
<div class="clear"></div>

<%= yield %>
</div>

</body>
</html>
